fastapi
uvicorn
httpx
zhconv
cn2an
regex
tqdm
watchdog
apscheduler
sqlmodel
requests
feedparser
grpcio
grpcio-tools
protobuf
bencodepy
uvloop
httptools
websockets
asyncpg
python-jose[cryptography]
bcrypt
pyotp
qrcode
python-multipart
Pillow
